extends main.pug

block create   
    .container
        p E-mail: Jfondacoo@gmail.com
        p Phone: 571-762-3065
        a(href='https://github.com/Jfondaco', target='_blank') My Github 
        br
        a(href='https://www.linkedin.com/in/joey-fondaco-46b6aa170/', target='_blank') My LinkedIn
        br
        a(href='https://prnt.sc/mcciei/', target='_blank') My Resume
