extends main.pug

block create
    .row#RowOne
        img.col.s4(src='/images/mask-boy.png' id ='my-picture')
        div.col.s8(class='container')
            h3 About Me
            p My name is Joseph and I'm an aspiring programmer. I am currently enrolled in the University of Richmond coding bootcamp.  I'm proficient in JavaScript, jQuery, HTML5, CSS, MySQL, MongoDB, Express, React, and Node. In my free time i've started to dabble with Python and Ruby.
            p I'm interested in a career where I can continue to sharpen my skills and master many different languages.
                    