extends main.pug

block create
    .container
        .row#indexRowOne
            img.col.s4(src='/images/mask-boy.png' id ='my-picture')
            div.col.s8
                h3 About Me
                p asdfadf
                p  Rad Libs is a radical word game that anyone can play!