extends main.pug

block create
    .container
        .row#RowOne 
            section.main-section
                h3 Portfolio
                p#portfolioP Here are numerous applications I built while attending the UofR Bootcamp!
        .row#RowTwo        
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Radlibs.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') Github Code
                                a(href='#') Deployed Page
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/WC.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') Deployed Github Page
                                a(href='#') This is a link
        .row#RowTwo
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Hangman.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') Deployed Github Page
                                a(href='#') This is a link
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Giphy.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') Deployed Github Page
                                a(href='#') This is a link
        .row#RowThree
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Train.jpg')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') Deployed Github Page
                                a(href='#') This is a link
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/pokemon.jpg')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') Deployed Github Page
                                a(href='#') This is a link
                        