extends main.pug

block create
    .container
        .row#portRowOne 
            section.main-section
                h3 Portfolio
                p#portfolioP Here are numerous applications I built while attending the UofR Bootcamp!
                p#portfolioP Links are provided at the bottom of each card!
        .row#RowTwo        
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Radlibs.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='https://github.com/ischu/DomeHead' target = "_blank") Github Code
                                a#cardAnchor(href='https://dry-forest-45652.herokuapp.com/' target = "_blank") Deployed Page
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/WC.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='https://github.com/Jfondaco/First-Group-Project' target = "_blank") Github Code
                                a#cardAnchor(href='https://jfondaco.github.io/First-Group-Project' target = "_blank") Deployed Page
        .row#RowTwo
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Hangman.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='https://github.com/Jfondaco/TriviaGame' target = "_blank") Github Code
                                a#cardAnchor(href='https://jfondaco.github.io/Word-Guess-Game' target = "_blank") Deployed Page
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Giphy.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='https://github.com/Jfondaco/Giphy_HW' target = "_blank") Github Code
                                a#cardAnchor(href='https://jfondaco.github.io/Giphy_HW' target = "_blank") Deployed Page
        .row#RowThree
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Train.jpg')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='https://github.com/Jfondaco/Train-Activity' target = "_blank") Github Code
                                a#cardAnchor(href='https://jfondaco.github.io/Train-Activity' target = "_blank") Deployed Page
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Pokemon.jpg')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='https://github.com/Jfondaco/Star-Wars-RPG-Game' target = "_blank") Github Code
                                a#cardAnchor(href='https://jfondaco.github.io/Star-Wars-RPG-Game' target = "_blank") Deployed Page
                        