extends main.pug

block create
    .container
        .row#RowOne 
            section.main-section
                h3 Portfolio
                p#portfolioP Click an image for a deployed github project, or the text banner to see the code behind it!
        .row#RowTwo        
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Radlibs.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') This is a link
                                a(href='#') This is a link
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/WC.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') This is a link
                                a(href='#') This is a link
        .row#RowTwo
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Hangman.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') This is a link
                                a(href='#') This is a link
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='https://lorempixel.com/100/190/nature/6')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') This is a link
                                a(href='#') This is a link
        .row#RowThree
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='https://lorempixel.com/100/190/nature/6')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') This is a link
                                a(href='#') This is a link
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='https://lorempixel.com/100/190/nature/6')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a(href='#') This is a link
                                a(href='#') This is a link
                        