extends main.pug

block create
    .container
        .row#RowOne 
            section.main-section
                h3 Portfolio
                p#portfolioP Here are numerous applications I built while attending the UofR Bootcamp!
                p#portfolioP Links are provided at the bottom of each card!
        .row#RowTwo        
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Radlibs.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='https://github.com/ischu/DomeHead' target = "_blank") Github Code
                                a#cardAnchor(href='https://dry-forest-45652.herokuapp.com/' target = "_blank") Deployed Page
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/WC.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='#') Github Code
                                a#cardAnchor(href='#') Deployed Page
        .row#RowTwo
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Hangman.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='#') Github Code
                                a#cardAnchor(href='#') Deployed Page
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Giphy.png')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='#') Github Code
                                a#cardAnchor(href='#') Deployed Page
        .row#RowThree
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/Train.jpg')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='#') Github Code
                                a#cardAnchor(href='#') Deployed Page
                .col.s6#portfolioCards
                    .card.horizontal
                        .card-image
                            img#cardImg(src='/images/pokemon.jpg')
                        .card-stacked
                            .card-content
                                p I am a very simple card. I am good at containing small bits of information.
                            .card-action
                                a#cardAnchor(href='#') Github Code
                                a#cardAnchor(href='#') Deployed Page
                        