.li { 
    display: inline; 
    
}

#my-picture{
    width:150px;
    height:150px;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
}

#RowOne{
    margin: 0 auto;
}

#colOne{
    padding: 0;
    margin:0;
}

.card{
    width: 100%;
    margin:0;
    padding: 0;
    background-color:black;
  }

.card-content{
    color:white;
}

.nav-wrapper {
    background-color: rgb(15, 56, 92);
    margin:0;
}


.row{
    margin:0;
    padding:0;
}

#pageTitle{
    color: white;
    text-align: center;
}

h3{
    margin-top:0;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: solid black 2px;
    color: rgb(15, 56, 92);
    padding:10px;
}

body{
    background-color: rgba(128, 128, 128, 0.247);
}

.container{
    background-color: white;
    padding: 5px;
    margin-top: 50px;
    color: rgb(15, 56, 92)
}

#portfolioImg{
    width:100px;
    height:100px;
}

#cardImg{
    width:200px;
    height:200px;
}

#portfolioCards{
    margin-top:20px;
}

#portfolioP{
    padding: 10px;
    text-align: center;
    color: rgb(15, 56, 92);
}

text{
    color: rgb(15, 56, 92);
}

.table {
	display: table;
	margin: 0 auto;
}

#titleP{
    text-align: center;
}