.li { 
    display: inline; 
    
}

#my-picture{
    width:300px;
    height:300px;
    float: left;
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 150px;
   
}

#RowOne{
    margin: auto;
    width: 80%;
}

#colOne{
    padding: 0;
    margin:0;
}

#jumbotron{
    background-image: url("/images/TitleBackground.jpg");
    background-size: cover;
    background-size: no-repeat;
}

.card{
    width: 100%;
    margin:0;
    padding: 0;
    background-color:black;
  }

.card-content{
    color:white;
}

#cardAnchor{
    color:white;
}

#cardAnchor:hover{
    color:orange;
}

.nav-wrapper {
    background-color: rgb(15, 56, 92);
    margin:0;
}


.row{
    margin:0;
    padding:0;
}

#pageTitle{
    color: black;
    font-weight: bolder;
    text-align: center;
}

h3{
    margin-top:0;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: solid black 2px;
    color: rgb(15, 56, 92);
    padding:10px;
}

body{
    /* background-color: rgba(128, 128, 128, 0.247); */
    background-image: url("/images/test1background.jpg");
    background-size: no-repeat;
    background-size: cover;
}

.container{
    background-color: white;
    padding: 5px;
    margin-top: 50px;
    color: rgb(15, 56, 92);
    opacity: .85;
}

#portfolioImg{
    width:100px;
    height:100px;
}

#cardImg{
    width:200px;
    height:200px;
}

#portfolioCards{
    margin-top:20px;
}

#portfolioP{
    padding: 10px;
    text-align: center;
    color: rgb(15, 56, 92);
}

#contactP{
    padding: 10px;
    text-align: center;
    color: rgb(15, 56, 92);
}

text{
    color: rgb(15, 56, 92);
}

.table {
	display: table;
	margin: 0 auto;
}

#titleP{
    text-align: center;
    font-weight: bold;
    color: black;
}